*.py[cod]

# Packages
*.eggs
*.egg-info

*.~
*.wpr  # WingIDE
*.wpu  # WingIDE
.installed.cfg
bin
develop-eggs
dist
downloads
parts
build
.ropeproject
.tox
__pycache__

.project
.pydevproject
.settings
.idea
.venv
.cache
.pytest_cache
docs/_build

# Coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov
