*.pyc
*.pyo
*.~
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
build
.ropeproject
.tox
__pycache__

.project
.pydevproject
.settings
djmoney/tests/testproject
.tox
.idea
.venv
*\.egg
*\.egg-info
.cache
