name: CI

on: [push, pull_request]

jobs:
  pre-commit:
    name: Generic pre-commit checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install pre-commit
      - run: pre-commit run --all-files

  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install tox
      - name: Run docs tox job
        run: tox -e docs

  tests:
    strategy:
      matrix:
        include:
          - python: pypy-3.8
            tox_env: django22-pypy3
          - python: pypy-3.8
            tox_env: django32-pypy3
          - python: pypy-3.8
            tox_env: django40-pypy3
          - python: '3.7'
            tox_env: django22-py37
          - python: '3.7'
            tox_env: django32-py37
          - python: '3.8'
            tox_env: django22-py38
          - python: '3.8'
            tox_env: django32-py38
          - python: '3.8'
            tox_env: django40-py38
          - python: '3.8'
            tox_env: django41-py38
          - python: '3.8'
            tox_env: django42-py38
          - python: '3.9'
            tox_env: django22-py39
          - python: '3.9'
            tox_env: django32-py39
          - python: '3.9'
            tox_env: django40-py39
          - python: '3.9'
            tox_env: django41-py39
          - python: '3.9'
            tox_env: django42-py39
          - python: '3.10'
            tox_env: django22-py310
          - python: '3.10'
            tox_env: django32-py310
          - python: '3.10'
            tox_env: django40-py310
          - python: '3.10'
            tox_env: django41-py310
          - python: '3.10'
            tox_env: django42-py310
          - python: '3.10'
            tox_env: django_main-py310
          - python: '3.10'
            tox_env: no_rest_framework
          - python: '3.11'
            tox_env: django_main-py311
          - python: '3.11'
            tox_env: django42-py311
          - python: '3.11'
            tox_env: django41-py311
          - python: '3.11'
            tox_env: django40-py311
          - python: '3.11'
            tox_env: django32-py311
          - python: '3.11'
            tox_env: django22-py311
          - python: '3.11'
            tox_env: no_rest_framework
    name: ${{ matrix.tox_env }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - run: pip install tox coverage

      - name: Run ${{ matrix.tox_env }} tox job
        run: tox -e ${{ matrix.tox_env }}

      - run: coverage xml -i

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.15
        with:
          file: ./coverage.xml
          name: codecov-py${{ matrix.python }}
