name: CI

on: [push, pull_request]

jobs:
  pre-commit:
    name: Generic pre-commit checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: astral-sh/setup-uv@v5
      - run: uv pip install --system pre-commit pre-commit-uv
      - run: pre-commit run --all-files

  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: astral-sh/setup-uv@v5
      - run: uv pip install --system tox tox-uv
      - name: Run docs tox job
        run: tox -e docs

  tests:
    strategy:
      matrix:
        include:
          - python: '3.8'
            tox_env: django42-py38
          - python: '3.9'
            tox_env: django42-py39
          - python: '3.10'
            tox_env: django42-py310
          - python: '3.10'
            tox_env: django50-py310
          - python: '3.10'
            tox_env: django_main-py310
          - python: '3.10'
            tox_env: no_rest_framework
          - python: '3.11'
            tox_env: django_main-py311
          - python: '3.11'
            tox_env: django50-py311
          - python: '3.11'
            tox_env: django42-py311
          - python: '3.11'
            tox_env: no_rest_framework
    name: ${{ matrix.tox_env }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - uses: astral-sh/setup-uv@v5

      - run: uv pip install --system tox tox-uv coverage

      - name: Run ${{ matrix.tox_env }} tox job
        run: tox -e ${{ matrix.tox_env }}

      - run: coverage xml -i

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          name: codecov-py${{ matrix.python }}
